<section class="quiz-module">
  <section class="question-module">
    <h1>{{question}}</h1>
    <section class="options">
      <button (click)="onAnswer(option1[1])">{{option1[0]}}</button>
      <button (click)="onAnswer(option2[1])">{{option2[0]}}</button>
    </section>
  </section>




  <div class = "progressbar">
    @if (currentQuestionIndex != 0) {
      <button class="progressbar-button" (click)="previousQuestion()">
        <img ngSrc="assets/images/icons/previous-icon.svg" width="40" height="60" alt="previous"/>
      </button>
    }
    <div class="progressbar-display">
      @for (qst of questions; track qst; let i = $index) {
        @if (i < currentQuestionIndex){
          <button class="question-indicator previous" (click)="changeQuestion(i)"></button>
        } @else if (i == currentQuestionIndex) {
          <button class="question-indicator current" disabled="true"></button>
        } @else {
          <button class="question-indicator next" (click)="changeQuestion(i)"></button>
        }

      }
    </div>
    @if (currentQuestionIndex != quizLength - 1) {
      <button class="progressbar-button" (click)="nextQuestion()">
        <img ngSrc="assets/images/icons/next-icon.svg" width="40" height="60" alt="next"/>
      </button>
    }
  </div>

  <section class="result-view">
    <p>A : {{result['+A']}}</p>
    <p>E : {{result['+E']}}</p>
    <p>S : {{result['+S']}}</p>
    <p>K : {{result['+K']}}</p>
  </section>
</section>
