.quiz-module {
 justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100pt;
}

.question-module {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 800pt;
  height: 160pt;
  text-align: center;
  font-size: 48pt;
  font-weight: 500;
  color: #1F1F1F;
}

.options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 60pt;
}

.options button{
  background-color: #FFB951;
  border: none;
  width: 500pt;
  height: 100pt;
  border-radius: 8pt;
  font-size: 24pt;
  color: #1F1F1F;
}

.progressbar {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 64pt;
}

.progressbar-button {
  width: 60pt;
  height: 60pt;
  border: none;
  background: none;
}

.progressbar-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12pt;
}

.question-indicator {
  border: none;
}

.question-indicator.answered {
  background: #4664C9;
  width: 16pt;
  height: 16pt;
  border-radius: 20pt;
}

.question-indicator.current {
  background: #5197FF;
  width: 42pt;
  height: 42pt;
  border-radius: 20pt;
}

.question-indicator.unanswered {
  background: #9ACBFF;
  width: 16pt;
  height: 16pt;
  border-radius: 20pt;
}


.result-view {
  display: flex;
  flex-direction: row;
  gap: 12pt;
}

