.quiz-module {
 justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100pt;
}

.question-module {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 800pt;
  height: 160pt;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  color: #1F1F1F;
}

.options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 60pt;
}

.options button{
  background-color: #FFB951;
  border: none;
  width: 500px;
  min-height: 100pt;
  border-radius: 8pt;
  font-size: 24pt;
  color: #1F1F1F;
}

.progressbar {
  display: flex;
  height: 80pt;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.progressbar-button {
  width: 60pt;
  height: 60pt;
  border: none;
  background: none;


  &.hidden{
    visibility: hidden;
    display: block !important;
  }
}

.progressbar-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8pt;
}

.question-indicator {
  border: none;
}

.question-indicator{
  &.answered {
    background: #4664C9;
  }
  &.unanswered {
    background: #9ACBFF;
  }

  width: 18px;
  height: 18px;
  border-radius: 20pt;
}

.question-indicator.current {
  background: #5197FF;
  width: 42px;
  height: 42px;
  border-radius: 20pt;
}



